### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.idea/
*.iml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Log files ###
*.log

### Java Libraries ###
lib/
*.jar

### Database files ###
*.db

### Temporary directories ###
code-generation-service/temp/

### LLM cache and data directories ###
llm/vector-db/cache/
llm/vector-db/data/
llm/llm-prompt-generation/cache/

### Python virtual environment ###
.venv/