### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.idea/
*.iml

*.log
### Java Libraries ###
lib/
*.jar

### Database files ###
*.db

### Temporary directories ###
code-generation-service/temp/

### LLM cache and data directories ###
**/cache/
**/data/

### Python virtual environment ###
.venv/